<link rel="stylesheet" href="/index.css">
<h4><span style="color:LimeGreen">FireBADnoFire's git repos:</span></h4>
<p>

<a href="https://codeberg.org/firebadnofire/">codeberg.org</a> (main)<br>
<a href="https://github.com/firebadnofire/">github.com</a><br>
<a href="https://gitlab.com/firebadnofire/">gitlab.com</a>


</p>
