<link rel="stylesheet" href="/index.css">
<link rel="icon" href="/favicon.svg">
<h4><span style="color: LimeGreen">Mainpage:</span></h4>

<p>
Hi! I'm FireBADnoFire and this is my website. "Testing in production, gaming during work hours." -me, allegedly
</p>
<p>
I have many websites, some are listed below:<br>
<br>
<a href="https://archuser.org">archuser.org</a> which is the main domain.<br>
<a href="http://firebadnofire.libre">firebadnofire.libre</a> Hobbiest website where I show off dumb things I make.
<a href="http://theo.oss">theo.oss</a> Personal website for myself.<br>
<br>

".libre" and ".oss" are TLD domains under the OpenNIC DNS system. Want to visit them? Use OpenNIC DNS. You can either use the servers listed on <a href="https://opennic.org/">OpenNIC.org</a> or you can use mine at <a href="https://pubhole.archuser.org">pubhole.archuser.org</a>.<br>
<br>
I highly recommend checking out <a href=http://firebadnofire.libre>firebadnofire.libre</a> first since it has plans for some fun things to be hosted on it.<br>
My fav music: <a href="https://music.youtube.com/playlist?list=PLQ6wR9yJ1Xmx01oiakeSh-ROevpw5YE7n&si=zz-xxMHEJ7PuED8l">here</a><br>
How to torrent: <a href="how-to-torrent/">here</a><br>
Some of art I have commissioned from artists: <a href="commissions">here</a><br>


Want to contact me? Ask me a question? Bother me? See my contact info <a href="/contact/">here</a>
</p>
