<link rel="stylesheet" href="/index.css">

<h4><span style="color: LimeGreen">DNI list of people I mute/block:</span></h4>
<p>
- pedos<br>
- zoos<br>
- racists<br>
- sexists<br>
- zionists<br> 
- homophobes/transphobes<br>
- fascists<br>
- trump supporters<br>
- maps<br>
- proship<br>
- religious fanatics<br>
- creationist<br>
- tradcons
</p>

<p>
<a href=../>back</a>
</p>
