<link rel="stylesheet" href="/index.css">
<link rel="icon" href="/favicon.svg">
<h4><span style="color: LimeGreen">/site/auto-scripts/about/:</span></h4>

<p>
The /site/auto-scripts/ directory is to house all my scripts meant to be curled into bash. 
</p>
<a href="../">back</a>
