<link rel=stylesheet href=/index.css>
<link rel=icon href=/favicon.svg>
<h4><span style="color: LimeGreen">How to torrent:</span></h4>

<p>DISCLAIMER: This site (archuser.org) does not promote <a href="https://en.wikipedia.org/wiki/Online_piracy">piracy</a>. The bittorrent protocol is one of many download protocols used to transfer bits and bytes over <a href="https://en.wikipedia.org/wiki/Internet_Protocol_version_4">IPv4</a>/<a href="https://en.wikipedia.org/wiki/Internet_Protocol_version_6">IPv6</a>. My guide describes how to download Linux distros as provided by their maintainer in the Qbittorrent client which is not illegal in any way, shape, or form.</p>

<p>What you need to get started:<p>

<ui>
	<li>Download <a href="https://qbittorrent.org">Qbittorrent</a>. This can be from a package manager like <a href="https://en.wikipedia.org/wiki/Windows_Package_Manager">winget</a> or their webpage.</li>
	<li>An internet connection to <a href="https://en.wikipedia.org/wiki/Wide_area_network">WAN</a></li>
</ul>

<p>Open Qbittorrent, then enable the search bar by going to "view" > "enable search engine." After, a new "search" box should appear next to "transfers," click it, then click "search plugins." This will popup a new window. From there, click "Install a new one," then click "from url" then paste the following:</p>
  <div class="container">
    <button id="copy-btn">Copy</button>
    <pre id="code-box" readonly>https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/6074a7cccb90dfd5c81b7eaddd3138adec7f3377/engines/linuxtracker.py</pre>
  </div>
<p>You will now be able to search for any torrent for a linux distro. Test it by searching "Linux Mint" or "Debian". Now of course, this is not the only thing Qbittorrent can download and plugins are not hard to find. But I'll leave that for you to find. Qbittorrent itself has a link to plugins to try out.</p>
<script src="script.js"></script>
<a href=../>back</a>
